<p>contact-us1 works!</p>

<form [formGroup]="group" (ngSubmit)="onSubmit()">

<label >name</label>     <input type="text" formControlName="name">    <br>
<label >email</label>    <input type="text" formControlName="email">   <br>
<label >phone</label>    <input type="text" formControlName="phone">   <br>
<label >whatsapp</label> <input type="checkbox" formControlName="whatsapp"><br>
<label >text</label>     <input type="text" formControlName="text">    <br>

<button>submit</button>
</form>     


<div>{{message}}</div>

